  
  .card {
      display: flex;
      justify-content: space-between;
      margin-left: 100px;
      margin-top: 50px;
      width: 800px;
      background-color: white;
      border-radius: 10px;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
      padding: 20px;
      border: 6px double #2980b9;
  }
  
  
  .card button {
    width: 25%;
    background-color: #34495e;
    color: white;
    padding: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 50px;
  }
  
  
  .table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .table th,
  .table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ccc;
  }
  
  .table th {
    background-color: #f2f2f2;
  }
  